@import "tailwindcss";

@theme {
  --font-sans: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --font-mono: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}


